@model IEnumerable<Lab4_5_6.Models.Course>
@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul>
        @foreach(var course in Model)
        {
            <li>
                <div>

                </div>
            </li>
        }
    </ul>
</div>